---
import { getCollection, getEntry, render } from 'astro:content';
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';

export async function getStaticPaths() {
  const minutes = await getCollection('minutes');
  return minutes.map((minute) => ({
    params: { slug: minute.id },
  }));
}

const { slug } = Astro.params;
const minute = await getEntry('minutes', slug);
if (!minute) {
  throw new Error(`No such minute yet: ${slug}`);
}
const { Content } = await render(minute);
---

<Layout>
  <section class="max-w-4xl mx-auto mt-8 p-6 bg-muted/80 dark:bg-muted/90 rounded-2xl transition-all">
    <HeroText title={minute.id} />

    <div
      class="mx-auto px-6 sm:px-6 max-w-3xl prose prose-md lg:prose-xl dark:prose-invert dark:prose-headings:text-slate-300 prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-primary dark:prose-a:text-blue-400 prose-img:rounded-md prose-img:shadow-lg mt-8 prose-headings:scroll-mt-[80px] prose-li:my-0"
    >
      <Content />
    </div>
  </section>
</Layout>
