---
import { getCollection } from 'astro:content';
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';

const metadata = {
  title: 'Minutes',
};

const advisoryMinutes = (await getCollection('advisors_minutes')).reverse();
const groupMinutes = (await getCollection('group_minutes')).reverse();

---

<Layout metadata={metadata} milestones={[]}>
  <HeroText title="Minutes" />

  <section class="max-w-5xl mx-auto my-9">
    <div class="overflow-x-auto border-customGreen3 dark:border-customGreen3 rounded-md">
      <table class="min-w-full bg-white dark:bg-gray-800 border-4 border-customGreen3 dark:border-customGreen3 shadow-lg rounded-lg border-collapse">
        <thead>
          <tr class="border-4 border-customGreen3 dark:border-customGreen3">
            <th class="px-6 py-4 text-center text-xl text-blue1 font-semibold border-4 border-customGreen3 dark:border-customGreen3 w-1/2">Supervisors Minutes</th>
            <th class="px-6 py-4 text-center text-xl text-blue1 font-semibold border-4 border-customGreen3 dark:border-customGreen3 w-1/2">Team Minutes</th>
          </tr>
        </thead>
        <tbody>
            {Array.from({ length: Math.ceil(Math.max(advisoryMinutes.length, groupMinutes.length) / 2) }).map((_, rowIndex) => (
            <tr class="border-4 border-customGreen3 dark:border-customGreen3">
              {/* Supervisors Minutes (2 items per cell) */}
              <td class="px-6 py-4 border-4 border-customGreen3 dark:border-customGreen3 w-1/2">
              <div class="flex justify-between gap-4"> {/* Adiciona um gap de 4 para o espaçamento */}
                {/* First advisory minute */}
                {advisoryMinutes[advisoryMinutes.length - 1 - (rowIndex * 2)] ? (
                <a
                  href={`/minutes/advisors_minutes/${advisoryMinutes[advisoryMinutes.length - 1 - (rowIndex * 2)].id}`}
                  class="block bg-muted/80 hover:bg-muted/90 shadow-sm hover:shadow-blue1 p-4 rounded-xl border-[3px] border-blue1 text-blue1 hover:border-blue1 hover:text-blue1 dark:border-white dark:text-white dark:hover:border-red-500 dark:hover:text-red-500 text-lg transition-all duration-300 transform hover:-translate-y-1 w-1/2"
                >
                  📑 {advisoryMinutes[advisoryMinutes.length - 1 - (rowIndex * 2)].data.title}
                </a>
                ) : null}

                {/* Second advisory minute */}
                {advisoryMinutes[advisoryMinutes.length - 1 - (rowIndex * 2 + 1)] ? (
                <a
                  href={`/minutes/advisors_minutes/${advisoryMinutes[advisoryMinutes.length - 1 - (rowIndex * 2 + 1)].id}`}
                  class="block bg-muted/80 hover:bg-muted/90 shadow-sm hover:shadow-blue1 p-4 rounded-xl border-[3px] border-blue1 text-blue1 hover:border-blue1 hover:text-blue1 dark:border-white dark:text-white dark:hover:border-red-500 dark:hover:text-red-500 text-lg transition-all duration-300 transform hover:-translate-y-1 w-1/2"
                >
                  📑 {advisoryMinutes[advisoryMinutes.length - 1 - (rowIndex * 2 + 1)].data.title}
                </a>
                ) : null}
              </div>
              </td>

              {/* Team Minutes (2 items per cell) */}
              <td class="px-6 py-4 border-4 border-customGreen3 dark:border-customGreen3 w-1/2">
                <div class="flex justify-between gap-4"> {/* Adiciona um gap de 4 para o espaçamento */}
                  {/* First group minute */}
                  {groupMinutes[rowIndex * 2] ? (
                    <a
                      href={`/minutes/group_minutes/${groupMinutes[rowIndex * 2].id}`}
                      class="block bg-muted/80 hover:bg-muted/90 shadow-sm hover:shadow-green1 p-4 rounded-xl border-[3px] border-blue1 text-blue1 hover:border-blue1 hover:text-blue1 dark:border-white dark:text-white dark:hover:border-red-500 dark:hover:text-red-500 text-lg transition-all duration-300 transform hover:-translate-y-1 w-1/2"
                    >
                      📑 {groupMinutes[rowIndex * 2].data.title}
                    </a>
                  ) : null}

                  {/* Second group minute */}
                  {groupMinutes[rowIndex * 2 + 1] ? (
                    <a
                      href={`/minutes/group_minutes/${groupMinutes[rowIndex * 2 + 1].id}`}
                      class="block bg-muted/80 hover:bg-muted/90 shadow-sm hover:shadow-green1 p-4 rounded-xl border-[3px] border-blue1 text-blue1 hover:border-blue1 hover:text-blue1 dark:border-white dark:text-white dark:hover:border-red-500 dark:hover:text-red-500 text-lg transition-all duration-300 transform hover:-translate-y-1 w-1/2"
                    >
                      📑 {groupMinutes[rowIndex * 2 + 1].data.title}
                    </a>
                  ) : null}
                </div>
              </td>
            </tr>
          ))}
        </tbody>
      </table>
    </div>
  </section>
</Layout>
