---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';
const person = '/src/assets/images/hero-image.png';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About us"
  >
    <Fragment slot="title">
      Meet the team behind <span class="text-accent dark:text-white highlight"> Our Vision</span>
    </Fragment>

    <Fragment slot="subtitle">
      We are a passionate group of designers, developers, and strategists dedicated to crafting beautiful and effective website templates. Our mission is to simplify the web design process and empower businesses worldwide.
    </Fragment>
  </Hero>

  <!-- Team Members Section ****************** -->

  <Features2
    title="Our Team"
    tagline="The People Behind the Vision"
    columns={3}
    items={[
      {
        title: 'João Varela',
        description: 'Architect | Developer',
        image: { src: person, alt: 'João Varela' }
      },
      {
        title: 'Diogo Fernandes',
        description: 'DevOps Master | Developer',
        image: { src: person, alt: 'Diogo Fernandes' }
      },
      {
        title: 'Henrique Oliveira',
        description: 'Product Owner | Developer',
        image: { src: person, alt: 'Henrique Oliveira' }
      }
    ]}
  />
  <Features2
    columns={2}
    items={[
      {
        title: 'Raquel Vinagre',
        description: 'UX Designer | Developer',
        image: { src: person, alt: 'Raquel Vinagre' }
      },
      {
        title: 'Carolina Prata',
        description: 'Scrum Master | Developer',
        image: { src: person, alt: 'Carolina Prata' }
      }
    ]}
  />

  <!-- Advisors Section ****************** -->

  <Features2
    title="Our Advisors"
    tagline="Guiding Us to Success"
    columns={2}
    items={[
      {
        title: 'Luís Bastião',
        description: 'Advisor',
        image: { src: person, alt: 'Luís Bastião' }
      },
      {
        title: 'Carlos Costa',
        description: 'Co-Advisor',
        image: { src: person, alt: 'Carlos Costa' }
      }
    ]}
  />
</Layout>
