---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import Features2 from '~/components/widgets/Features2.astro';
import Features from '~/components/widgets/Features.astro';
import Stats from '~/components/widgets/Stats.astro';
import Features3 from '~/components/widgets/Features3.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';
import cell from '~/assets/images/cell.svg';
// import ola2 from '~/assets/images/ola2.jpg';

import { YouTube } from 'astro-embed';

const metadata = {
  title: 'Home',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero2
    tagline="Illuminating the Future of Pathology"
    actions={[
      {
        variant: 'primary',
        target: '_blank',
        text: 'Get Started',
        href: 'https://github.com/bioinformatics-ua/PathoWorkflow',
        // icon: 'tabler:download',
      },
      { text: 'Learn more', href: '#features' },
    ]}
      image={{ src: cell, alt: "hero-image" }}
  >
    <Fragment slot="title">
      Bringing light to every cell
    </Fragment>
    <Fragment slot="subtitle">
      Zorya is a Web Platform for data lakes and exploration of artificial intelligence for Digital Pathology.
    </Fragment>

    <!--  video will go here -->
    <!-- <Fragment slot="image">
      <YouTube id="gxBkghlglTg" title="Astro just Launched.... Could it be the ultimate web framework?" />
      <style is:inline>
        lite-youtube {
          margin: 0 auto;
          max-width: 100%;
        }
      </style>
    </Fragment> -->
  </Hero>

  <!-- Features2 Widget ************** -->
  <Features2
    title="Overview"
    subtitle="This project aims to develop a web platform that will support a data lake for medical imaging and enable federated learning across multiple institutions. It aims to simplify the workflow for researchers working with high-resolution scanned slides, improve content discovery, and facilitate collaborative algorithm development."
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Features2 Widget ************** -->

  <!-- <Features2
    title="Our Goals"
    subtitle="We offer a wide range of features"
    items={[
      {
        title: 'IMAGE MANAGING',
        description:
          'Image storage, processing and identification service.',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'PERSONALIZED CATALOGING',
        description:
          'Easy access to resources based on user preferences.',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'DATA PRIVACY',
        description:
          'Assure the concealment of sensitive information through federated learning.',
        icon: 'flat-color-icons:voice-presentation',
      },
      // {
      //   title: 'INTUITIVE INTERFACE',
      //   description:
      //     'Easy-to-understand UI aimed at doctors.',
      //   icon: 'flat-color-icons:template',
      // },
    ]}
  > -->
    <!-- <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2> -->

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="Main features"
    subtitle="Simplifying the workflow for researchers."
    columns={2}
    items={[
      {
        title: 'Store diverse medical imaging datasets',
        description:
          'Involving the creation of concepts like datasets, pathology, and AI models.',
        icon: 'tabler:database',
      },
      {
        title: 'A web-based user-friendly dashboard ',
        description: 'For data exploration and algorithm development.',
        icon: 'tabler:picture-in-picture',
      },
      {
        title: 'Matchmaking algorithms',
        description:
          'For specific Digital Pathology images.',
        icon: 'tabler:puzzle',
      },
      {
        title: 'Notifications and alerts for important events updates',
        description: 'Updates on new datasets, AI models, and pathology.',
        icon: 'tabler:bell',
      },
      // {
      //   title: 'Search Engine Optimization (SEO)',
      //   description:
      //     'Incorporate SEO best practices in template structure and code to improve visibility in search engine results.',
      //   icon: 'tabler:arrows-right-left',
      // },
      // {
      //   title: 'Compatibility',
      //   description: 'The templates work seamlessly across various content management systems and website builders.',
      //   icon: 'tabler:plug-connected',
      // },
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <!-- <FAQs
    title="Frequently Asked Questions"
    items={[
      {
        title: 'What are landing page templates?',
        description:
          'Landing page templates are pre-designed web page layouts that are specifically created to serve as a foundation for building effective landing pages. These templates are designed to capture the attention of visitors and guide them towards a specific action or goal, such as signing up for a newsletter, making a purchase, or downloading a resource.',
      },
      {
        title: 'Why should I use a template?',
        description:
          'Some of the advantages are that they provide a ready-to-use structure,  saving you significant time. Are designed with user-friendliness in mind and provide a cost-effective alternative, saving you money while still delivering a quality result.',
      },
      {
        title: 'Can I preview templates before buying?',
        description:
          'Yes, the templates allow you to preview them before making a purchase. There is a "Demo" button associated with each template.',
      },
      {
        title: 'Do I need technical skills to use a template?',
        description:
          'Advanced technical skills are not required to use a template, but having a basic understanding of web navigation and familiarity with using online tools can still be beneficial. If you have more specific customization needs, you might need to consult guides or reach out to customer support for assistance.',
      },
      {
        title: 'Can I use the template on multiple websites?',
        description:
          'No, the template comes with a single-use license, meaning you can use the template on one website or project only. Using the template on additional websites would require purchasing additional licenses.',
      },
      {
        title: 'What if I need help with customization?',
        description:
          "The templates provides a comprehensive step-by-step guide that walk you through the customization process. If you still have doubts, you can reach out to our customer support team. They can answer your questions, provide guidance on customization, and address any issues you're facing.",
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs> -->
</Layout>
